NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:your_password@localhost:5432/mail_creator?schema=public"

JWT_SECRET="replace_with_a_long_random_secret_minimum_32_characters"
JWT_EXPIRES_IN=7d

GROQ_API_KEY="your_groq_api_key_here"

CLIENT_URLS=http://localhost:5173,http://localhost:5174